* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f7fa;
  padding: 20px 40px;

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.wrapper {
  position: relative;
  background: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.sidebar {
  background: #1e2939;
  width: 370px;
  padding: 40px 0 40px 0;
}

.contacts-container {
  margin: 60px 40px 0 40px;

}

.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.contacts-link:hover, .contacts-link:focus{
  color:#ff6b08;
}

.contact-list{
  padding-left: 15px;
  list-style-type: none;
}

.skills-container {
  margin: 55px 40px 0 40px;
}

.skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.skills-list li {
  margin-left: 15px;
  color: #ff6b08;
}

.skills-list li span {
  color: #e2e4e6;
}

.about-me-container {
  padding: 110px 90px;
}

.profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 23px;
}

.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}

.description {
  margin-top: 24px;
}

.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.projects-link {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.projects-link:hover, .projects-link:focus{
  color: #ff6b08;
}

.tech-name {
  color: #595959;
}

.project-name {
  color: #ff7920;
  font-weight: bold;
}

section {
  margin-bottom: 55px;
}

.kata-link {
  text-decoration: none;
  color: black;
}

.kata-link:hover, .kata-link:focus{
  color: #ff6b08;
}

.profession-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

  margin: 8px 0 15px 0;
}

.profession-company {
  color: #ff7920;
}

.profession-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 15px;
}

.divider {
  color: black;
}

.additional-education-details-container {
  margin-bottom: 15px;
}

.education {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;

  margin: 55px 0 20px 0;
}

.education-place {
  color: #ff6b08;
  margin-bottom: 15px;
}

.specialization {
  margin-bottom: 15px;
}

footer{
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 100%;

  padding-left: 55px;
  padding-right: 55px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.github-logo{
  fill:white;
}

.github-link:hover svg, .github-link:focus svg{
  fill: #ff6b08;
}

.school-link:hover svg path{
  fill: blue;
}

