* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f7fa;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-top: 40px;
  font-family: Montserrat;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
}

.wrapper {
  position: relative;
  background: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.sidebar {
  background: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.contacts-container {
  margin-top: 60px;
  margin-left: 55px;
  margin-right: 40px;
}
.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}
.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.contact-list li {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
  list-style-type: none;
}

.skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}
.skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.skills-list li {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #ff6b08;
}

.skills-list li span {
  color: #e2e4e6;
}

.about-me-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 110px;
  padding-top: 110px;
}

.profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 23px;
}
.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}
.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
}

.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.projects-link {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.tech-name {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.project-name {
  color: #ff7920;
  font-weight: bold;
}

section {
  margin-bottom: 55px;
}

.kata-link {
  text-decoration: none;
  color: black;
}

pre {
  color: #595959;
}

.profession-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 15px;
}
.profession-company {
  color: #ff7920;
}
.profession-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 15px;
}
.divider {
  color: black;
}

.additional-education-details-container {
  margin-bottom: 15px;
}

.education {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 55px;
}
.education-place {
  color: #ff6b08;
  margin-bottom: 15px;
}
.specialization {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
}

footer{
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 100%;

  padding-left: 55px;
  padding-right: 55px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.github-logo{
  fill:white;
}